@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

// Brand theming for management pages
$brand-primary: #0c8357;
$brand-hover: #0bb677;

.analyze-page {
  .el-pagination {
    font-size: 14px;
  }

  // 分页数字选中态
  .el-pagination .el-pager li.active {
    color: $brand-primary;
    border-color: $brand-primary;
  }

  .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: $brand-primary;
    border-color: $brand-primary;
    color: #ffffff;
  }

  .el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: $brand-hover;
    border-color: $brand-hover;
    background-color: #e6f2ee;
  }

  .el-pagination button:hover,
  .el-pagination .el-pager li:hover {
    color: $brand-hover;
  }

  // 下拉选择器颜色
  .el-pagination .el-select .el-input .el-input__inner:focus {
    border-color: $brand-primary;
  }
  
  .el-select-dropdown__item.selected {
    color: $brand-primary;
  }
  
  .el-select .el-input.is-focus .el-input__inner {
    border-color: $brand-primary;
  }
}

// 全局下拉选择器主题色
.el-select-dropdown__item.selected {
  color: $brand-primary !important;
}

.el-select-dropdown__item:hover {
  background-color: #e6f2ee;
}
