// sidebar (light theme per design)
$menuText:#333333;
$menuActiveText:#0c8357;
$subMenuActiveText:#0c8357; // active text for submenu

$menuBg:#FFFFFF;
$menuHover:#f5f7fa;

$subMenuBg:#FFFFFF;
$subMenuHover:#f5f7fa;

$sideBarWidth: 208px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
